<div class="posting" id="basement">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">

        <h3>KOMMUNIKATSIOONID</h3>
        <span> </span>
        <p><strong>Kavandatav</strong></p>

      </div>
      <div class="row">
        <div class="col-md-8 text-left">

          <h4>Septik</h4>
          <p class="columned-2">
            Maja taha metsa serva tuleb hiljem septik (kaugus kaevust ületab 30 m), imbväljak tuleb teisele poole metsatukka, läbi metsatuka tuleb kaevata 20m kraav torude jaoks. Maja lähedal olev imbväljak võib haisu levitada. <br>
            <strong>Marek Reinolt</strong>, 20.08.2014: Kui soovitada, siis pakuks 2700l iseankurduvat saksa sepikut Carat koos nelja immutustunneli mooduliga. Sellest suurusest piisab, seda on hea lihtne paigaldada sest ei vaja ankurdusplaati ning maapeale jääb viisakas roheline luuk.  Septiku komplekt koos kahe tunneliga on 980€+km ja kaks lisatunnelit 110€+km. Kokku võiks teha hinnaks 1040€+km. Lühike juhis: <br>
            "110mm toru peaks vundamendist läbi tulema.
            Septiku kaevis on ca 2500x2000xh2300mm. Torustik jääb maapinnast toru põhja mõõdetuna 1000-1200mm vahele. <br>
            Toru pikkuse kohtapole piirangut. Peaasi, et kalle on 1-1,5cm meetrile. Hoonest peaks septik olema vähemalt 5m kaugusel. <br>
            Tunneli kaevis tuleb 1200x5500mm. Sügavus sõltub torustiku sügavusest. Võib ka peal sõita. Kandevõime on ülesõidul 40t, aga sellisel juhul tuleb kindlasti jälgi paigladusjuhendis märgitud paigalduspõhimõtteid. <br>
            Selline septik suuba ööpäeva läbi lasta ca 400-500l vett. <br>
            Pakkumises ei ole trassi ehituse materjale. Need võite küll ka meilt saada. 3m PVC toru välipaigalduseks on 9€+km/tk. Transpordi saame korraldada oma logistikapartneri abiga 45€+km või saate ka ise kerghaagisega järgi tulla."
            <br>
            Grafi septiku juhend täiendab:
            <br>
            Külmumiskindel tsoon on sügavusele 60-80 cm tavaliselt. Killistiku fraktsioon mida vaja on teraga 8/16. Septiku alla kulub 150-200 mm, ümber kaevis 500mm lai samaga, kihthaaval 30 cm kaupa, vahepeal tihendades. Et inimene võiks kaane peal käia, on sinna ümber ka kruusa vaja. Autodest paiguta eemale kui ei taha betoonimisega mässata.
            <br>
            Imbtunneli alla läheb 500mm kildu 16/32 ja peale veekindel kangas et taimed kasvada saaks.
            <br>
          </p>
        </div>
        <div class="col-md-4">
            <!-- <ol>
              <li>Eemaldada puujuurtelt liigne liiv võra ulatuses</li>
              <li>Hoovielekter terrassilt kasepuuni (veksellüliti, pistik, parklavalgusti) </li>
              <li>Valda teavitada septiku asukoha muutusest</li>
              <li>Servituudid 2 krunti</li>
              <li>Krundi nimemuutus</li>
              <li>Lisapildid traktoripäevast Epult</li>
              <li>Remo: majaaluse sissepääsu müüritise viimistlus</li>
            </ol> -->
            <br>
            <a href="assets/downloads/vesi.pdf"  target="_blank" class="button">Veevarustuse joonis</a>
           <br>
            <a href="http://www.puhastid.ee/iseankurduv-septik-carat/ " class="button">Septik Carat S</a>
            <h4>TODO</h4>
            <br>
            <a href="#"  target="_blank" class="button">Kütte joonis</a>
            <br>
            <a href="#"  target="_blank" class="button">Valgustuse joonis</a>
            <br>
            <a href="#"  target="_blank" class="button">Elektrivarustuse joonis</a>
            <br>
            <a href="#"  target="_blank" class="button">Nõrkvoolu joonis</a>
        </div>
      </div>

    </div>
  </div>
</div>
