<div class="row">
  <div class="posting text-center">
    <h3>SISEVIIMISTLUS </h3>
    <span></span>
    <!--           <p>l</p> -->
  </div>
  <div class="col-md-8">
    <h4>Vannituba</h4>
    <p class="columned-2">
    </p>
  </div>
  <div class="col-md-4">
    <dl class="dl-horizontal">
      <dt>Plaaditavat küttega põrandat</dt>
      <dd></dd>
      <dt>Plaaditavat seina</dt>
      <dd></dd>
      <dt>Kipsseina</dt>
      <dd></dd>
      <dt>Lage</dt>
      <dd></dd>
    </dl>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <h4>Köök ja väliköök</h4>
    <p class="columned-2">
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <h4>Siseuksed, sisetrepid, luugid</h4>
    <p class="columned-2">
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <h4>Sisseehitatavad kapid/riiulid tubades/panipaikades</h4>
    <p class="columned-2">
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <h3>JÄTKUTÖÖD</h3>
    <span> </span>
    <p><strong> kevad-suvi 2017</strong></p>
    <span> </span>
  </div>

  <div class="col-md-8">
    <h4>Terrass ja terrassitrepid</h4>
    <p class="columned-2">
      Betoonpostid terrassile valatakse papist torudesse d=200 (Espak), mitte metallist venttorusdesse. Terrassi talastik valmistatakse süvaimmutatud puidust. Terrassi laudis pealtpoolt sile, pruun immutus nagu Valneritel naaberkrundil. Terrassi põranda tasapind 10 cm madalam kui toa põrand et ei tekiks lume kuhjumist vastu akent. Terrassi serv on õhuke, terrassi trepid õhulised (vt avalehe näidispilte). Terrassi alla kinnitub maja ees õhksoojuspump, maja taga asetub selle alla drenaažikaevu luuk.
    </p>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <h4>Septik</h4>
    <p class="columned-2">
      Peale raskeveokite külastuste lõppu - septik ei kannata suuri autosid. Maja taha metsa serva tuleb hiljem septik (kaugus kaevust ületab 30 m), imbväljak tuleb teisele poole metsatukka, läbi metsatuka tuleb kaevata 20m kraav torude jaoks. Maja lähedal olev imbväljak võib haisu levitada. <br>
      <strong>Marek Reinolt</strong>, 20.08.2014: Kui soovitada, siis pakuks 2700l iseankurduvat saksa sepikut Carat koos nelja immutustunneli mooduliga. Sellest suurusest piisab, seda on hea lihtne paigaldada sest ei vaja ankurdusplaati ning maapeale jääb viisakas roheline luuk.  Septiku komplekt koos kahe tunneliga on 980€+km ja kaks lisatunnelit 110€+km. Kokku võiks teha hinnaks 1040€+km. Lühike juhis: <br>
      "110mm toru peaks vundamendist läbi tulema.
      Septiku kaevis on ca 2500x2000xh2300mm. Torustik jääb maapinnast toru põhja mõõdetuna 1000-1200mm vahele. <br>
      Toru pikkuse kohtapole piirangut. Peaasi, et kalle on 1-1,5cm meetrile. Hoonest peaks septik olema vähemalt 5m kaugusel. <br>
      Tunneli kaevis tuleb 1200x5500mm. Sügavus sõltub torustiku sügavusest. Võib ka peal sõita. Kandevõime on ülesõidul 40t, aga sellisel juhul tuleb kindlasti jälgi paigladusjuhendis märgitud paigalduspõhimõtteid. <br>
      Selline septik suuba ööpäeva läbi lasta ca 400-500l vett. <br>
      Pakkumises ei ole trassi ehituse materjale. Need võite küll ka meilt saada. 3m PVC toru välipaigalduseks on 9€+km/tk. Transpordi saame korraldada oma logistikapartneri abiga 45€+km või saate ka ise kerghaagisega järgi tulla."
      <br>
      Grafi septiku juhend täiendab:
      <br>
      Külmumiskindel tsoon on sügavusele 60-80 cm tavaliselt. Killistiku fraktsioon mida vaja on teraga 8/16. Septiku alla kulub 150-200 mm, ümber kaevis 500mm lai samaga, kihthaaval 30 cm kaupa, vahepeal tihendades. Et inimene võiks kaane peal käia, on sinna ümber ka kruusa vaja. Autodest paiguta eemale kui ei taha betoonimisega mässata.
      <br>
      Imbtunneli alla läheb 500mm kildu 16/32 ja peale veekindel kangas et taimed kasvada saaks.
      <br>
    </p>
    <br>
  </div>

  <div class="col-md-4">
    <br>
    <a href="http://www.puhastid.ee/iseankurduv-septik-carat/ " class="button">Septik Carat S</a>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-md-8">

    <h4>Hoovielekter</h4>
    <p class="columned-2">
      Pre-wire for future security cameras

      Pre-wire for a generator
      Master switch in bedroom to control outside lights and attic lights

      Low voltage lightning

      Wall lighting
      Facades
      Entrance areas
      Cantilever roofs
      Trees
      Park and garden complexes
      Sculptures
      Objects
      Preferred luminaire group
      Floodlights
    </p>
    <br>


  </div>

  <div class="col-md-4">

    <!-- <br>
    <a href="assets/downloads/vesi.pdf"  target="_blank" class="button">Veevarustuse joonis</a>
    <br>
    <a href="http://www.puhastid.ee/iseankurduv-septik-carat/ " class="button">Septik Carat S</a>
    <br>
    <a href="assets/downloads/kyte.pdf"  target="_blank" class="button">Kütte joonis</a>
    <h4>TODO</h4>
    <br>
    <a href="#"  target="_blank" class="button">Valgustuse joonis</a>
    <br>
    <a href="#"  target="_blank" class="button">Elektrivarustuse joonis</a>
    <br>
    <a href="#"  target="_blank" class="button">Nõrkvoolu joonis</a> -->
  </div>
</div>
