    <div class="row">
        <div class="col-md-8">

          <h4>Pliit ja ahi</h4>
          <p class="columned-2">
            Tellisahi ja puupliit
          </p>
        </div>
        <div class="col-md-4">
          <dl class="dl-horizontal">
            <dt>Arvestuslik köetav pind </dt>
            <dd>90 m2</dd>
            <dt>Korsten</dt>
            <dd>6,3 m Rondo Plus 2 lõõriline + ventlõõr</dd>
            <dt>Ahi</dt>
            <dd>90x90 cm krohvitud tellisahi</dd>
            <dt>Pliit</dt>
            <dd>65x110 cm keraamilise plaadiga</dd>
            <dt>Lisaõhk</dt>
            <dd>160 mm vent toru ahju vundamendis</dd>
          </dl>
            <a href="assets/downloads/kyte.pdf"  target="_blank" class="button">Kütte joonis</a>
        </div>
      </div>
