<div class="blog" id="blog">
  <div class="container">
    <div class="posting">    
      <div class="row">
        <div class="col-md-12">     
          <h3>OUR BLOG</h3>
          <span></span>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum Lorem Ipsum has been.</p>
        </div>
      </div>    
    </div>  
    <div class="blog-bottom">
      <div class="blog-left">
        <img src="assets/images/camera.jpg" alt=""/>
      </div>
      <span class="circle"></span>
      <div class="blog-right">        
        <h6>10 April 2014</h6>
        <h4>Printing and typesetting industry</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="blog-bottom">
      <div class="blog-left">
        <h6>10 April 2014</h6>
        <h4>Printing and typesetting industry</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
      </div>
      <span class="circle"></span>
      <div class="blog-right">        
        <img src="assets/images/camera.jpg" alt=""/>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="blog-bottom">
      <div class="blog-left last">
        <img src="assets/images/camera.jpg" alt=""/>
      </div>
      <span class="circle"> </span>
      <div class="blog-right">        
        <h6>10 April 2014</h6>
        <h4>Printing and typesetting industry</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
      </div>
      <div class="clearfix"> </div>
    </div>
    <div class="post"><a href="#">All  Posts</a></div>
  </div>
</div>