<div class="service text-center">
              <div class="container">
                <h3>SERVICES WE PROVIDE</h3>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                <div class="service-bottom">
                  <div class="row">
                    <div class="col-md-4">  
                      <img src="assets/images/contact.png" alt=""/>   
                      <h4><a href="index.html">CONSULTANCY</a></h4>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum Lorem Ipsum has been.</p>
                    </div>
                    <div class="col-md-4">  
                      <img src="assets/images/flag.png" alt=""/>    
                      <h4><a href="index.html">MARKETING</a></h4>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum Lorem Ipsum has been.</p>
                    </div>
                    <div class="col-md-4">  
                      <img src="assets/images/fl.png" alt=""/>    
                      <h4><a href="index.html">RESEARCH</a></h4>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum Lorem Ipsum has been.</p>
                    </div>
                  </div>  
                </div>  
              </div>
            </div>