<div class="header_bg">
  <div class="header_bg">

    <div class="container">

      <div class="header">

        <header id="topnav">
          <nav>
            <ul>
              <li class="active"><a  href="#home">Algus</a></li>
              <li><a href="#access" class="scroll">Asukoht</a></li>
              <li><a href="#plans" class="scroll">Plaanid</a></li>
              <li><a href="#about" class="scroll">Seletus</a></li>
              <li><a href="#inspiration" class="scroll">Allikad</a></li>
              <li><a href="#roadmap" class="scroll">Kulg</a></li>
              <li class="last"><a href="#contact" class="scroll">Kontakt</a></li>

            </ul>
          </nav>
          <!-- <h1><a href="index.html">EHITUSPÄEVIK</a></h1> -->
          <a href="#" id="navbtn">Nav Menu</a>

        </header>

      </div>

    </div>
  </div>

</div>