<div class="posting" id="basement">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center"> 
        
        <h3>VUNDAMENT JA LIGIPÄÄS</h3>
        <span> </span>
        <p>august - oktoober 2014</p>

      </div>  
      <div class="row">
        <div class="col-md-8 text-left">
          <h4>Vundament</h4>
          
          <p>Vundament on ehitatud 20 cm paksusest FIBO 5 kergplokist . Vundamendi all on 20 cm betoonist taldmik, selle all 16 fraktsiooniga killustikupadi. Aluspind on läbivalt liiv, umbes 1,2 m sügavusel on õhuke kiht huumust, siis looduslik kruus.
            <br><br>
            Enne põranda kinniehitamist tuleb puurida tuulutusavad vastavalt: <br>
            "Loomuliku ventilatsiooni kasutamisel peavad tuulutusavad olema maapinnast vähemalt 200 mm kõrgusel. Avade vajalik suurus sõltub ka hoone paiknemisest tuulte suhtes. Tuultele avatud kohtades peab avade ristlõike- pindalaolemavähemalt0,05... 0,1m2 iga 100 m2 põrandapin- na kohta. Tuultele varjatud kohtades on vastavad arvud 0,1...0,2 m2.
Põhjamaades esinevate normide kohaselt peaks põran- da alla jääma vähemalt 50 cm kõrge vaba ruum, mis on ühtlaselt tuulutatud. Mäenõlvadel asetsevatel hoonetel võib see ruum olla ühest otsast madalam, kuid mitte alla 35 cm. Pinnaseniiskuse tõkestamiseks eraldatakse kõik konstruktsioonielemendid hüdroisolatsiooniga." <a href="http://www.puuinfo.ee/artiklid/pdf/porandate_soojustamine.pdf">Allikas: Elar Vilt, "Põrandate soojustamisest"</a>
            <br><br>
            Kommunikatsioonidest on olemas välikäimla (isoleeritud paagiga), elekter 16 A, vesi salvkaevust (ehitatud sügisel 2013, sügavus 4 rõngast)
          </p>
          <hr>
          <h4>Kommunikatsioonid</h4>
          <p>1. <strong>Välikäimla</strong> koosneb 1 m3 mahutist
            <br>
            2. <strong>Elekter</strong> - kilp asub maja esiküljest lõunasuunas ca 40m kaugusel metsatukas. Kilbist majani on maa all kollase kõri sees 4-sooneline alumiiniumjuhe. Ehituse ajaks on üles pandud nõuetele vastavuse tõendiga elektriku koostatud ehituskilp. <br>
            Maja ümber on paigaldatud 70cm sügavusele 1m kaugusele vundamendist Cu 16 haljas juhe maanduseks. <br>
            <strong>Õueala kommunikatsioonid </strong>Maja tagant umbes välikäimlani on paigutatud 1 m sügavusele ühisesse kaevisesse horisontaalselt veetoru (PEM 20 mustas kõris) ja jõukaabel NYY-J 5x4 (seda ümbritseb 50/450 painduv kaablikaitsetoru), kaevise kohale on veetud hoiatuslint 30 cm sügavusele. <br>

          </p>
        </div>
        <div class="col-md-4">
          <dl class="dl-horizontal">
            <dt>Taldmik</dt>
            <dd>Betoon</dd>
            <dt>Vundament</dt>
            <dd>FIBO 5 20, biarmatuur</dd>
            <dt>Keldri niikustõke</dt>
            <dd>Bornit Fugendicht 1</dd>
            <dt>Krohv</dt>
            <dd>Uninaks Siler must</dd>
            <dt>Müürisegu</dt>
            <dd>Vetonit ja Uninaks</dd>
          </dl>
           <a href="assets/downloads/arhitektuurne.pdf">LAE ALLA ARHITEKTUURNE PROJEKT<img src="assets/images/download.png" alt=""/></a>
           <br>
           <div class="well"><strong>Hoovielekter</strong> Järgmises etapis on kavas vedada elekter terrassilt hoovi keskel oleva kasepuu juurede, sinna läheb üldpistik ja hoovivalgustus (veksellüliti puu juurest ja terrassilt).</div>
           <div class="well"><strong>Reovesi</strong> Maja taha metsa serva tuleb septik (kaugus kaevust ületab 30 m), imbväljak tuleb teisele poole metsatukka, läbi metsatuka tuleb kaevata 20m kraav torude jaoks. <strong> NB! </strong>Vallale tuleb teada anda septiku asukoha muutusest - projektis on septik maja ees.</div>
        </div>
      </div>
      
    </div>
  </div>
</div>