<div class="images-slider">
  <div id="fwslider">
    <div class="slider_container">
      <div class="slide"> 
        <img src="assets/images/makett/makett_01.jpg" alt=""/>
        <div class="slide_content">
          <div class="slide_content_wrap">
            <h4 class="title">REBASEMÄE , RANNAKÜLA, VARBLA VALD, PÄRNUMAA <br></h4>
            <div class="slide-btns description">
            </div>
          </div>
        </div>
      </div>

      <div class="slide">
        <img src="assets/images/makett/makett_02.jpg" alt=""/>
      </div>

      <div class="slide">
        <img src="assets/images/makett/makett_03.jpg" alt=""/>
        <div class="slide_content">
          <div class="slide_content_wrap" style="float:right;">
            <p class="description">REBASEMÄE, RANNAKÜLA, VARBLA VALD, PÄRNUMAA</p>
            <h4 class="title"><span>ARHITEKTUURNE</span> PROJEKT <br></h4>
<!--             <p class="description"><a href="assets/downloads/arhitektuurne.pdf">LAE ALLA <img src="assets/images/download.png" alt=""/></a> -->
            </p>
            <div class="slide-btns description">
            </div>
          </div>
        </div>
      </div>

      <div class="slide">
        <img src="assets/images/makett/makett_04.jpg" alt=""/>
        <div class="slide_content">
          <div class="slide_content_wrap">
            <p class="description">REBASEMÄE, RANNAKÜLA, VARBLA VALD, PÄRNUMAA</p>
            <h4 class="title"><span>KONSTRUKTIIVNE</span> PROJEKT <br></h4>
<!--             <p class="description"><a href="assets/downloads/konstruktiivne.pdf">LAE ALLA<img src="assets/images/download.png" alt=""/></a></p> -->
            <div class="slide-btns description">
            </div>
          </div>
        </div>
      </div>

      <div class="slide">
        <img src="assets/images/makett/makett_05.jpg" alt=""/>
        <div class="slide_content">
          <div class="slide_content_wrap">
            <h4 class="title">EHITUSPÄEVIK</h4>
          </div>
        </div>
      </div>

    </div>
    <div class="timers"> </div>
    <div class="slidePrev"><span> </span></div>
    <div class="slideNext"><span> </span></div>
  </div>
</div>