<div class="posting">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3>Majatehas</h3>
        <span> </span>
        <p><strong>Juuni 2016</strong></p>
      </div>
      <div class="row">
        <div class="col-md-8">

          <h4>Välissein</h4>
          <p>Siia alla kuuluvad 2 maja välisseinad pluss panipaiga sein. Vundamendi ja puitosa vahele läheb hüdrolisolatsioon Isover Vario soklitihend 200, selle peale alusvöö 45x185 immutatud.</p>
          <p class="columned-2"><strong>Välisvooder -</strong> Peensaetud kuusk, vertikaalne UYV 21x120. Viimistlus krunt (Teknos Woodex Base, <a href="http://www.ac.teknos.ee/?pageid=H3827">tooteleht</a>) pluss läbipaistev erilasuur 4 külge (Woodex Eko , <a href="http://www.ac.teknos.ee/?pageid=H3830">Tooteleht</a>). Tehaseviimistlus - nt <a href="http://www.puidukoda.eu/">Puidukoda</a> <br><i>Paigaldus kruvid või nael? Lauaotste vertikaalühendused värvitakse ja saetakse nurga all? Hoone nurgaühendused? Aknapaled lihtsa lauaga, ilma ilulauata</i>
            <br><strong>Tuulutusliist -</strong> 20x45 horisontaalselt erinevatel kõrgustel.
            <br><strong>Tuuletõke -</strong> Steico Universal 22x600x2500 puitkiudplaat soonühendusega, maaletooja Tervemaja. Ühendused teibitakse tuuletõkke teibiga (kangas) Siga Wigluw 60 (objektil)
            <br><strong>Karkass -</strong> Kuusk 45x195 mm tapitud ühendustega ja diagonaalidega. Kinnitus naeltega.
          </p>
          <p><strong>Välisvoodri alla minev elekter peab enne pandud olema kui vooder</strong></p>
          <p><i>Hiljem: Soojustus tselluvill, armeeritud paber ja teipimine, lisasoojustuslatt, lisasoojustus Steico flex, aurutõkkepaber ja teipimine, installatsioonilatt, installatsioonid (vesi, elekter, nõrkvool), sisevoodrilaud, aknapõsed, aknalauad</i></p>
          <br>
          <h4>Sisesein</h4>
          <p class="columned-2"> <strong>Karkass</strong> 45x95 mm </p>
          <p><i>Hiljem: Voodrilaud/kips kahele poole, helitõkkevill</i></p>
          <br>
          <h4>Vahelagi</h4>
          <p class="columned-2"> <strong>Puitlaastplaat</strong> Forestia 22x1200x2400 soonega, <strong>Karkass</strong> 45x195 cc=300 </p>
          <p><i>Hiljem: Helitõkkevill, aurutõkkepaber, installatsioonilatt, laevooder, parkett</i></p>
          <br>
          <h4>Põrand</h4>
          <p class="columned-2"> <strong>Puitlaastplaat</strong> Forestia 22x1200x2400 soonega, <strong>Karkass</strong> 45x195 cc=300, <strong>soojustus</strong> mineraalvill 200 mm (Rockwool Superrock 200mm), <strong>aurutõkkekile</strong> SFS4225, <strong>tuuletõke</strong> ilmastikukindel vineer Plywood NK 9 C/C </p>
          <p><i>Hiljem: Lisalaag 100 mm, tselluvill puiste, kommunikatsioonid (vesi, elekter, nõrkvool), aurutõkkepaber, põrandalaud (või OSB ja parkett)</i></p>
        </div>

        <aside class="col-md-4">

          <h4>Välissein I</h4>
          <dl class="dl-horizontal">
            <dt>Välisvooder</dt>
            <dd>UYV 21x120</dd>
            <dt>Tuulutusliist</dt>
            <dd>20x45 mm cc=600</dd>
            <dt>Tuuletõke</dt>
            <dd>22 mm</dd>
            <dt>Karkass</dt>
            <dd>45x195 mm, cc=600</dd>
          </dl>

          <h4>Põrand I</h4>
          <dl class="dl-horizontal">
            <dt>Tuuletõke</dt>
            <dd>9 mm Vineer NK 9 C/C</dd>
            <dt>Aurutõke</dt>
            <dd>0,2 mm SFS 4225</dd>
            <dt>Karkass</dt>
            <dd>45x195 mm C24, cc=300</dd>
            <dt>Soojustus</dt>
            <dd>200 mm kivivill Rockwool SuperRock 35</dd>
            <dt>Puitlaastplaat</dt>
            <dd>22 mm Forestia </dd>
          </dl>

          <h4>Katuslagi I</h4>
          <dl class="dl-horizontal">
            <dt>Karkass</dt>
            <dd>Liittala 45x195 + 45x195 mm, cc=600</dd>
            <dt>Terrasssi sarikad </dt>
            <dd>45x145 mm cc=200</dd>
            <dt></dt>
            <dd>Liimpuittalad ja postid</dd>

          </dl>
<!-- <img class="img-responsive" src=" <!-- @path alttuulduv_porand --> " alt=""> -->
        </aside>
      </div>

    </div>
  </div>
</div>

<div class="posting">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3>Allhange</h3>
        <span> </span>
        <p><strong>Juuni 2016</strong></p>
      </div>
      <div class="row">
        <div class="col-md-8">

          <h4>Avatäited</h4>
          <p class="columned-2"><strong>Aknad ja rõduuksed -</strong> Mänd sõrmjätk 78mm saksa tüüpi. Viimistlus seestpoolt lakk, väljast värv (tume). Aru78 Softline või vastav, 3x klaaspakett. Esikülje rõduuksed on väljapooleavanevad, ülejäänud sissepoole.</i>
            <br><strong>Välisuksed -</strong> 2 tk 2x klaaspakett, väikse maja uks matistatud klaasiga. Panipaiga uks tahveluks. Viimistlus seestpoolt lakk, väljast värv (tume).
            <br><strong>Katuseaknad -</strong> Velux puitaken 2x klaaspakett, 3 tk Velux GLL 1055 MK06 (ülaltavatav, Uw 1,3), 1 tk Velux GPL 3073 MK06 (täisavanev üles, katab katuseluugi aset).
            <br><strong>Veeplekid -</strong> Toon RAL9007 ehk Ruuki RR41 (tumehõbe)
          </p>
          <p><i>Hiljem: Aknalauad, sääsevõrgud, rulood.</i></p>
          <br>
          <h4>Katus</h4>
          <p>Kõik katusega seotud metallasjad on ühte tooni: RAL9007 ehk Ruuki RR41 (tumehõbe)</p>
          <p class="columned-2"> <strong>Katusekate </strong> plekk Classic C 50 matt. Tuuletõke on vajalik puistetselluvilla kasutamiseks, selle võrra saab soodsam olla aluskate. Materjali valiku tuleks arvestada päiksepaneelide lisamise võimalusega (lisaraskus). <strong>Terrassikatus</strong> on Makrolon 10 mm. Harjaplekk ja vihmaveesüsteem jätkuvad terrassikatusel. <strong>Katuseräästas ja siseküljed</strong> (kuuri ja väliköögi kohal) on kaetud lauaga, vt joonis. <strong>Katusesild ja redel</strong> korstan puhastamiseks.  <strong>Vihmaveesüsteem</strong> - vajalik 2 allavoolu ühe majapikkuse peale</p>
          <p><i>Hiljem sissepoole: Soojustus tselluvill, armeeritud paber ja teipimine, lisasoojustuslatt, lisasoojustus Steico flex, aurutõkkepaber ja teipimine, installatsioonilatt, installatsioonid (elekter, nõrkvool), sisevoodrilaud.
          <br>
          Hiljem väljapoole: Räästa viimistlus. Vihmavee kogumise mahuti</i></p>
          <br>

        </div>

        <aside class="col-md-4">


          <h4>Katuslagi II</h4>
          <dl class="dl-horizontal">
            <dt>Tuuletõke</dt>
            <dd>13 mm</dd>
            <dt>Aluskate</dt>
            <dd>0,2 mm</dd>
            <dt>Tuulutuslatt</dt>
            <dd>22 mm</dd>
            <dt>Roovitus</dt>
            <dd>22 mm</dd>
            <dt>Katuseplekk</dt>
            <dd>0,5 mm</dd>
          </dl>
          <br>
          <a class="button" href="assets/downloads/avataited-fassaad.pdf">AVATÄIDETE SPETSIFIKATSIOON</a>
          <br>
          <a class="button" href="assets/downloads/raasta-skeem.pdf">KATUSERÄÄSTA JOONIS</a>
          <br>
        </aside>
      </div>

    </div>
  </div>
</div>
