<section class="lightcolor" id="box-2015">
  <div class="posting">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h3>Karp kinni</h3>
          <span> </span>
          <p><strong>Seinad ja konstruktsioon, september 2016</strong></p>
          <span></span>
        </div>
        <div class="row">
          <div class="col-md-8">

            <h4>Välissein - väljast sissepoole</h4>
            <p>Siia alla kuuluvad 2 maja välisseinad pluss panipaiga sein. Panipaiga, esiku ja väikese maja sein on õhemad 50 mm soojustuse lisakihi, Steico Flexi võrra. Vundamendi ja puitosa vahele läheb hüdrolisolatsioon Isover Vario soklitihend 200, selle peale alusvöö 45x185 immutatud.</p>
            <p class="columned-2"><strong>Välisvooder -</strong> Peensaetud kuusk, vertikaalne UYV 21x120. Viimistlus krunt (Teknos Woodex Base, <a href="http://www.ac.teknos.ee/?pageid=H3827">tooteleht</a>) pluss läbipaistev erilasuur 3 külge (Woodex Eko , <a href="http://www.ac.teknos.ee/?pageid=H3830">Tooteleht</a>). <br><i>Paigaldus kruvid või nael? Lauaotste vertikaalühendused värvitakse ja saetakse nurga all? Hoone nurgaühendused? Aknapaled lihtsa lauaga, ilma ilulauata. Maja esikülje mitteavaneval aknal lai istutav aknalaud 20 cm (ei ulatu üle räästaääre)</i>
              <br><strong>Tuulutusliist -</strong> 20x45 horisontaalselt erinevatel kõrgustel.
              <br><strong>Tuuletõke -</strong> Steico Universal 22x600x2500 puitkiudplaat soonühendusega, maaletooja Tervemaja. Ühendused teibitakse tuuletõkke teibiga (kangas) Siga Wigluw 60 (objektil)
              <br><strong>Karkass -</strong> Kuusk 45x195 mm tapitud ühendustega ja diagonaalidega. Kinnitus naeltega.
            </p>
            <p><strong>Välisvoodri alla minev elekter peab enne pandud olema kui soojustus</strong></p>
            <p><i>Hiljem: Soojustus puitkiudvill, armeeritud paber ja teipimine, lisasoojustuslatt, lisasoojustus Steico flex (välja jääb esik, panipaik, väike maja), aurutõkkepaber ja teipimine, installatsioonilatt, installatsioonid (vesi, elekter, nõrkvool), sisevoodrilaud, aknapõsed, aknalauad</i></p>
            <br>
            <h4>Sisesein</h4>
            <p class="columned-2"> <strong>Karkass</strong> 45x95 mm </p>
            <p><i>Hiljem: Voodrilaud/kips kahele poole, helitõkkevill kivivill, </i></p>
            <br>
            <h4>Vahelagi</h4>
            <p class="columned-2"> <strong>Puitlaastplaat</strong> Forestia 22x1200x2400 soonega, <strong>Karkass</strong> 45x195 cc=300 </p>
            <p><i>Hiljem: Helitõkkevill, aurutõkkepaber, installatsioonilatt, laevooder, parkett</i></p>
            <br>
            <h4>Põrand</h4>
            <p class="columned-2"> <strong>Puitlaastplaat</strong> Forestia 22x1200x2400 soonega, <strong>Karkass</strong> 45x195 cc=300, <strong>soojustus</strong> mineraalvill 200 mm (Rockwool Superrock 200mm), <strong>aurutõkkekile</strong> SFS4225, <strong>tuuletõke</strong> ilmastikukindel vineer Plywood NK 9 C/C </p>
            <p><i>Hiljem: Lisalaag 100 mm, puitkiudvill puiste, kommunikatsioonid (vesi, elekter, nõrkvool), aurutõkkepaber, põrandalaud (või OSB ja parkett)</i></p>
          </div>

          <aside class="col-md-4">

            <h4>Välissein I osa</h4>
            <dl class="dl-horizontal">
              <dt>Välisvooder</dt>
              <dd>UYV 21x120</dd>
              <dt>Tuulutusliist</dt>
              <dd>20x45 mm cc=600</dd>
              <dt>Tuuletõke</dt>
              <dd>22 mm</dd>
              <dt>Karkass</dt>
              <dd>45x195 mm, cc=600</dd>
            </dl>

            <h4>Põrand I osa</h4>
            <dl class="dl-horizontal">
              <dt>Tuuletõke</dt>
              <dd>9 mm Vineer NK 9 C/C</dd>
              <dt>Aurutõke</dt>
              <dd>0,2 mm SFS 4225</dd>
              <dt>Karkass</dt>
              <dd>45x195 mm C24, cc=300</dd>
              <dt>Soojustus</dt>
              <dd>200 mm kivivill Rockwool SuperRock 35</dd>
              <dt>Puitlaastplaat</dt>
              <dd>22 mm Forestia </dd>
            </dl>

            <h4>Katuslagi I osa</h4>
            <dl class="dl-horizontal">
              <dt>Karkass</dt>
              <dd>Liittala 45x195 + 45x195 mm, cc=600</dd>
              <dt>Terrasssi sarikad </dt>
              <dd>45x145 mm cc=200</dd>
              <dt></dt>
              <dd>Liimpuittalad ja postid</dd>
            </dl>
            <a href="http://www.puuinfo.ee/artiklid/pdf/porandate_soojustamine.pdf" class="button" target="_blank">Põrandate soojustamisest</a>
            <h4>Värvid</h4>
            <dl class="dl-horizontal">
              <dt>Katus ja tarvikud</dt>
              <dd>Ruukki tumehall RR23 </dd>
              <dt>Avad väljast, veeplekid</dt>
              <dd>RAL7039, Quarzgrau</dd>
              <dt>Välisvooder</dt>
              <dd>Lasuurne Woodex Aqua 1829</dd>
              <dt>Ribisein- ja katus, räästad</dt>
              <dd>Värvitu Woodex Aqua 1825</dd>
            </dl>
            <div>
              <div class="row">
                <div class="col-xs-6 col-sm-6">
                  <a href="" class="thumbnail">
                    <img src="assets/images/colors/1829.jpg" alt="">
                  </a>
                </div>
                <div class="col-xs-6 col-sm-6">
                  <a href="" class="thumbnail">
                    <img src="assets/images/colors/1825.jpg" alt="">
                  </a>
                </div>
                <div class="col-xs-6 col-sm-6">
                  <a href="" class="thumbnail">
                    <img src="assets/images/colors/ral_7039.jpg" alt="">
                  </a>
                </div>
                <div class="col-xs-6 col-sm-6">
                  <a href="" class="thumbnail">
                    <img src="assets/images/colors/RR-23-dark-grey.gif" alt="">
                  </a>
                </div>
              </div>
            </div>
          </aside>
        </div>

      </div>
    </div>
  </div>
</section>

<section>
  <div class="container" id="box-pics">
    <!-- @include box-pics -->
  </div>
</section>

<section class="lightcolor" id="box-2015">
  <div class="posting">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <!-- <h3>Karp kinni</h3> -->
          <span> </span>
          <p><strong>Katus ja avad, september 2016</strong></p>
          <span></span>
        </div>
        <div class="row">
          <div class="col-md-8">

            <h4>Avatäited</h4>
            <p class="columned-2"><strong>Aknad ja rõduuksed -</strong> Mänd sõrmjätk 78mm saksa tüüpi. Viimistlus seestpoolt lakk, väljast värv (tume). Aru78 Softline või vastav, 3x klaaspakett. Esikülje rõduuksed on väljapooleavanevad 180 kraadi, välisukse tüüpi, link tavaline ukselink, köögipoolne uks väljaspoolt võtmega avatav, kahepoolne vahepostita rõduuks väljast pime, seest mõlemad liblikaga. Maja tagaküljele jäävad rõduuksed avanevad sissepoole, pöörd-kaldavatavad.</i>
              <br><strong>Välisuksed -</strong> 2 tk 2x klaaspakett, väikse maja uks matistatud klaasiga. Panipaiga uks samasugune aga puitplaadiga. Viimistlus seestpoolt lakk, väljast värv (mustpruun RAL8022 või hallpruun RAL8019).
              <br><strong>Katuseaknad -</strong> Velux puitaken 2x klaaspakett, 4 tk Velux GLL 1055 MK06 (ülaltavatav, Uw 1,3).  Katuse põhjaküljele katuseredel korstna lähedale.
            </p>
            <p><i>Hiljem: Aknalauad, sääsevõrgud, rulood.</i></p>
            <br>
            <h4>Katus</h4>
            <p>Kõik katusega seotud metallasjad on ühte tooni: RR23 ehk tumehall.</p>
            <p class="columned-2"> <strong>Katusekate </strong> plekk Classic C 50 matt.  Materjali valiku tuleks arvestada päiksepaneelide lisamise võimalusega (lisaraskus). <strong>Terrassikatus</strong> on Makrolon 10 mm kirgas. Kihtplastiku korral tuleb servade tihendamisega väga hoolas olla: need seestpoolt sammalduvad plastikuplaadid on ääretult inetud. Harjaplekk ja vihmaveesüsteem jätkuvad terrassikatusel. <strong>Katuseräästas ja siseküljed</strong> (kuuri ja väliköögi kohal) on kaetud lauaga, vt joonis. <strong>Katusesild ja redel</strong> korstan puhastamiseks.  <strong>Vihmaveesüsteem</strong> - vajalik 2 allavoolu ühe majapikkuse peale</p>
            <p><i>Hiljem sissepoole: Soojustus puitkiudvill, armeeritud paber ja teipimine, lisasoojustuslatt, lisasoojustus Steico flex, aurutõkkepaber ja teipimine, installatsioonilatt, installatsioonid (elekter, nõrkvool), sisevoodrilaud.
              <br>
              Hiljem väljapoole: Räästa viimistlus. Vihmavee kogumise mahuti</i></p>
            </div>

            <aside class="col-md-4">
              <h4>Katuslagi II osa</h4>
              <dl class="dl-horizontal">
                <dt>Tuuletõke</dt>
                <dd>13 mm</dd>
                <dt>Aluskate</dt>
                <dd>0,2 mm</dd>
                <dt>Tuulutuslatt</dt>
                <dd>22 mm</dd>
                <dt>Roovitus</dt>
                <dd>22 mm</dd>
                <dt>Katuseplekk</dt>
                <dd>0,5 mm</dd>
              </dl>
              <br>
              <a class="button" href="assets/downloads/avataited-fassaad.pdf" target="_blank">AVATÄIDETE SPETSIFIKATSIOON</a>
              <br>
              <a class="button" href="assets/downloads/raasta-skeem.pdf" target="_blank">KATUSERÄÄSTA JOONIS</a>
              <br>
              <a href="http://www.proplastik.ee/failid/File/Lexan/Kihtplastiku%20paigaldusjuhend.pdf" class="button" target="_blank">Kihtplastiku paigaldusjuhend</a>
              <br>
            </aside>
          </div>

        </div>
      </div>
    </div>
  </section>
