<div class="posting" id="basement">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">

        <h3>Edasi 2016</h3>
        <span> </span>
        <!-- <p><strong>juuni 2016</strong></p> -->

      </div>
      <div class="row">
        <div class="col-md-8 text-left">

          <h4>Soojustus tselluvill</h4>
          <p class="columned-2"> Tselluvill puiste tihedusega ?
            Tselluvill suudab niiskust imada, 12% on norm, 20% elab üle. Ja ma ei tunne ennast kivivill-majades hästi. Paigaldustingimused on nt <a href="http://www.puhurvill.ee/paigaldus.html">siin</a> välja toodud - 7m auto. Hinna poolest on kallim kui teised: puistena üks näide kivivill 19.50, tsellu 25 €/m3. Materjalikulu katuslael ja seintel kuivpaigaldusega 38-60kg/m3. Kuni 20 cm (nagu mul) saab ühe korraga seina lükata. Soome vill (nt Termex) tolmavat vähem - suurema ajalehesisalduse tõttu. Välja läheb tuuletõke, sisse kahe kihi vahele jälle paber - kui on kaks kihti. <br>
          Ecovilla vanalt lehelt leiab ka <a href="http://ekovilla.ee/online/paivittyy.html">hindasid ja tiheduarvutusi</a>
          <br>
            Tihedus katuslaes 45 kg/m3 - siis ei teki vajumist. Allapoole tuleb kinnitada armeeritud paber, et vill seda katki ei pressiks. Samuti surutakse kuivpudi voolikuga sisse. Aurutõkke kile asemel on paber - korralikult teibitud ja ülekattega. Tselluvillast väljapoole jäävate materjalikihtide veeaurutakistus peaks seespoolsete omast väiksemaks jääma ehk aurutihedam peaks olema soojemalt poolelt ehk toast. Auruhõredam külmemalt, ehk väliselt küljelt.
            <br>
            <br>
            <a href="http://ekovilla.ee/ekovilla-konstruktsioonide-juhend/" class="button">Tselluvilla juhised Ekovilla näitel</a>
            <br>
            <br>
            <a href="http://werrowool.eu/files/Tselluvill_20131014.pdf" class="button">Tselluvilla juhised Werrowool näitel</a>
          </p>

          <br>
          <h4>Terrass lae ja seintega</h4>
          <p class="columned-2">
            Kihtplastiku korral tuleb paigaldusega väga hoolas olla: need seestpoolt sammalduvad plastikuplaadid on ääretult inetud.
            <br>
            <br>
            <a href="http://www.proplastik.ee/failid/File/Lexan/Kihtplastiku%20paigaldusjuhend.pdf" class="button">Kihtplastiku paigaldusjuhend</a>
          </p>
        </div>


        </p>
        <div class="col-md-4">
          <h4>Linke</h4>
           <a href="http://www.puuinfo.ee/index.php?option=com_content&view=article&id=18&Itemid=80">PUITMAJA SOOJUSTAMINE JA SISEKLIIMA</a>
           <br>
           <a href="http://www.puuinfo.ee/artiklid/pdf/puitkiudvill.pdf">Puitkiudvill</a>

           <h4>Välissein II </h4>
           <dl class="dl-horizontal">
             <dt>Armeeritud paber, teibitud</dt>
             <dd>0.2 mm</dd>
             <dt>Tselluvill puiste</dt>
             <dd>200 mm</dd>
             <dt>Aurutõkkepaber</dt>
             <dd>0.2mm</dd>
             <dt>Lisasoojustuslatt</dt>
             <dd>50 mm</dd>
             <dt>Lisasoojustus Steico Flex</dt>
             <dd>40mm</dd>
             <dt>Installatsioonilatt</dt>
             <dd>? mm</dd>
             <dt>Sisevoodrilaud</dt>
             <dd>12mm</dd>
           </dl>

        </div>
      </div>

    </div>
  </div>
</div>
