 <!-- http://www.bootply.com/Axbt2Y0LIQ -->

<div class="container">

  <div class="header">

    <header id="topnav">
      <nav class="navbar navbar-inverse navbar-default" role="navigation" id="topmenu" class="mainmenu">

        <ul class="nav navbar-nav">
          <li>
            <a  href="index.html">Algus</a> 
          </li>
          <li>
            <a  href="basement.html">Vundament</a>
          </li>
          <li class="dropdown">
            <a  class="dropdown-toggle" href="#!" id="drop" data-toggle="dropdown" aria-expanded="false" aria-controls="drop">Karp</a>
            <ul class="nav navbar-nav dropdown-menu" aria-labelledby="drop">
              <li><a href="#access" class="scroll">Asukoht</a></li>
              <li><a href="#about" class="scroll">Projektid</a></li>
              <li><a href="#inspiration" class="scroll">Näidised</a></li>
              <li><a href="#contact" class="scroll">Kontakt</a></li>
            </ul>
          </li>
          <li>
            <a  href="communications.html" class="disabled">Kommunikatsioonid</a>
          </li>
          <li>
            <a  href="indoor.html" class="disabled">Sisetööd</a>
          </li>
          <li>
            <a  href="finishing.html" class="disabled">Viimistlus</a>
          </li>


        </ul>
      </nav>

    </header>

  </div>

</div>
