 <!-- http://www.bootply.com/Axbt2Y0LIQ -->

<div class="container">

  <div class="header">

    <header id="topnav">
      <nav class="navbar navbar-inverse navbar-default" role="navigation" id="topmenu" class="mainmenu">
        
        <ul class="nav navbar-nav">
          <li>
            <a  href="index.html">Algus</a>
          </li>
          <li class="dropdown">
            <a   class="dropdown-toggle" href="#!" id="drop" data-toggle="dropdown" aria-expanded="false" aria-controls="drop">Vundament</a>
            <ul class="nav navbar-nav dropdown-menu" aria-labelledby="drop">
              <li><a href="#basement-todo" class="scroll">Vaegtööd</a></li>
              <li><a href="#basement-pics" class="scroll">Pildid</a></li>
              <li><a href="#basement-done" class="scroll">Vundament</a></li>
              <li><a href="#surrounding-done" class="scroll">Ligipääs ja plats</a></li>
              <li><a href="#basement-contact" class="scroll">Kontaktid</a></li>
            </ul>
          </li>
          <li>
            <a href="box.html">Karp</a>
          </li>
          <li>
            <a  href="communications.html" class="disabled">Kommunikatsioonid</a>
          </li>
          <li>
            <a  href="indoor.html" class="disabled">Sisetööd</a>
          </li>
          <li>
            <a  href="finishing.html" class="disabled">Viimistlus</a>
          </li>


        </ul>
      </nav>

    </header> 

  </div>

</div>


