<div class="container">

  <div class="header">

    <header id="topnav">
      <nav class="navbar navbar-inverse navbar-default" role="navigation" id="topmenu" class="mainmenu">

        <ul class="nav navbar-nav">
          <li>
            <a  href="index.html">Algus</a>
          </li>
          <li>
            <a  href="basement.html" class="disabled">Vundament</a>
          </li>
          <li>
            <a  href="box.html" class="disabled">Karp</a>
          </li>
          <li>
            <a  href="#" class="disabled">Side</a>
          </li>
          <li>
            <a  href="#"  class="disabled">Sise</a>
          </li>
          <li>
            <a  href="#" class="disabled">finessid</a>
          </li>


        </ul>
      </nav>
      <!-- <h1><a href="index.html">EHITUSPÄEVIK</a></h1> -->
      <a href="#" id="navbtn">Nav Menu</a>

    </header>

  </div>

</div>
   

