<!-- @javascript jquery.min handlebars-v2.0.0 bootstrap menu move-top easing jquery.blueimp-gallery.min bootstrap-image-gallery jquery.scrollstop jquery.lazyload jquery.colorcontrast -->


<script type="text/javascript">
  $(document).ready(function() {

    // $().UItoTop({ easingType: 'easeOutQuart' });

  // easing on scrolltop
  // --------
    $(".scroll").click(function(event){
      event.preventDefault();
      $('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
    });

  // lazyload pics
  // --------
    $(".lazy").lazyload({
      threshold : 200,
      effect : "fadeIn"
    });

      // change pics buttontext
  // -----------------
  $("a.button").button();
  $("a.button").click(function(){
    $(this).button('toggle');
    if ($(this).text()==="Näita rohkem pilte"){
    $(this).button('open');
    }
    else {
      $(this).button('reset');
    }
  });

});

        // subnav
    // -----------------
  $('.collapse').on('shown.bs.collapse', function (e) {
    $('.collapse').not(this).removeClass('in');
  });

  $('[data-toggle=collapse]').click(function (e) {
    $('[data-toggle=collapse]').parent('li').removeClass('active');
    $(this).parent('li').toggleClass('active');
  });

  $('body').colorcontrast();

  // color change
  var darkOrLight = function(red, green, blue) {
  var brightness;
  brightness = (red * 299) + (green * 587) + (blue * 114);
  brightness = brightness / 255000;

  // values range from 0 to 1
  // anything greater than 0.5 should be bright enough for dark text
  if (brightness >= 0.5) {
    return "dark-text";
  } else {
    return "light-text";
  }
}

</script>

<!-- DATA -->
<!-- ///////////// -->
