<div class="container">

  <div class="header">

    <header id="topnav">
      <nav class="navbar navbar-inverse navbar-default" role="navigation" id="topmenu" class="mainmenu">
        <!-- <div class="navbar-header">
          <div class="navbar-brand"><a href="">Rebasemäe</a></div>
        </div> -->
        <ul class="nav navbar-nav">
          <li>
            <a  href="index.html">Algus</a>
          </li>
          <li>
            <a  href="basement.html">Vundament</a>
          </li>
          <li>
            <a  href="box.html">Karp</a>
          </li>
          <li>
            <a  href="communications.html">Üldine</a>
          </li>
          <!-- <li>
            <a  href="#"  class="disabled">Viimistus</a>
          </li> -->
          <li>
            <a  href="#" class="disabled">Muu</a>
          </li>


        </ul>
      </nav>
      <!-- <h1><a href="index.html">EHITUSPÄEVIK</a></h1> -->
      <a href="#" id="navbtn">Nav Menu</a>

    </header>

  </div>

</div>
