<div class="posting">
<div class="container">
  <div class="row">
    <div class="text-center">

        <h3>SELETUS</h3>
        <span> </span>
        <p>Tsiteeritud eelprojekti.</p>

      </div>
      <div class="row">
        <div class="col-md-8 text-left">
          <h4>Arhitektuurne osa</h4>

          <p class="columned-2">
            Suvilas paiknevad esimesel korrusel elutuba-köök, kaks magamistuba ja pesuruum ning eraldi sissepääsuga külasliste tuba ja lähtine kuur. Teisel korrusel asuvad kaks siserõdu. Hoone edela ja kirde külge ümbritseb terrass. Suvila peasissepääs asub hoone edelafassaadis. Majal on 39° kaldega viilkatus. Hoone fassaadis on kasutatud peitsitud musta vertikaalset peensaetud laudist. Katus kaetakse SBS bituumenkattega. Projekteeritud hoone kuulub TP3 tulepüsivusklassi.
          </p>
          <hr>
          <h4>Siseviimistlus</h4>
          <p class="columned-2">Siseruumide seinad ja kaldlaed kaetakse puitlaudisega. Pesuruumi seinad kaetakse keraamiliste- või mosaiikplaatidega. Eluruumide põrandad kaetakse naturaalse saare või kase põrandalauaga ja õlitatakse. Vannitoa ja pesuruumi põrand valatakse armeeritud veekindlast betoonist, lihvitakse ning plaaditakse. Hoone aknad valmistatakse puitkonstruktsioonis atavatena, lükatavatena või mitteavatavatena. Kahelt poolt kergesti ligipääsetavad aknad ei pruugi olla avatavad.</p>
          <hr>
          <h4>Kommunikatsioonid</h4>
          <p class="columned-2">Hoone varustatakse: <br>
          külm vesi - salvkaev, ligikaudne asukoht näidatud asendiplaani joonisel. Kanalisatsioon – septik koosfilterväljakuga, asukoht võrreldes joonisel näidatuga muutunud. soe vesi – kahe- või kolmesüsteemne boiler (eleter, päikesekütte kollektor, puupliit).
          küte – puuküte (pottahi pluss soemüüriga puupliit), lisaks õhksoojuspump.
          elekter – lahendatakse eraldi projektiga vastavalt elektrivarustuse tehnilistele tingimustele.
        </p>
        <hr>
        <h4>Välisviimistlus</h4>
        <p class="columned-2">
          Vundament:
          Fibo 5 kergplokkidest, krohvitud (Uninaks Siler must) <br>
          Välistrepid ja terrass: Sügavimmutatud puit, toon pruun <br>
          Seinad: Peensaelaud UYV profiiliga 21x120, vertikaalsed. Peitsitud must. <br>
          Aknad: Puitaknad, naturaalses puidutoonis. Kolmekordne klaaspakett. <br>
          Välisuksed:  Puit, naturaalses puidutoonis, kahekordne klaaspakett <br>
          Panipaiga uks: Puit, vertikaalse laudisega kaetud, toon must <br>
          Katusekate: 2 kihti SBS bituumenkate kaetud killustiku kihiga, toon must, klass MBK2 + MBK2 <br>
          Varikatus: PC kihtplast, toon kirgas, näiteks Makrolon multi UV 2/10-10.5, B-s1, d0 (EN 13501-1)

        </p>
        </div>
        <div class="col-md-4">
          <h4>&nbsp;</h4>
          <dl class="dl-horizontal">
            <dt>Korruselisus</dt>
            <dd>2</dd>
            <dt>Kõrgus keskmisest ümbritsevast maapinnast</dt>
            <dd>6,9 m</dd>
            <dt>Ehitisealune pind</dt>
            <dd>260,4 m2</dd>
            <dt>Ehitusalune pind</dt>
            <dd>216,4 m2</dd>
            <dt>Kasulik pind (netopind)</dt>
            <dd>116,0 m2</dd>
            <dt>Elamispind</dt>
            <dd>79,4 m2</dd>
            <dt>Abiruumide pind</dt>
            <dd>36,6 m2</dd>
            <dt>Terrasside pind</dt>
            <dd>113,6 m2</dd>
            <dt>Köetav pind</dt>
            <dd>116,0 m2</dd>
            <dt>Suletud brutopind</dt>
            <dd>146,0 m2</dd>
            <dt>Kubatuur</dt>
            <dd>612,5 m3</dd>
            <dt>Tulepüsivusklass</dt>
            <dd>TP 3</dd>
          </dl>
          <dl class="dl-horizontal">
            <dt>Vundament</dt>
            <dd>lintvundament</dd>
            <dt>Kandekonstruktsioon</dt>
            <dd>puitkarkass</dd>
            <dt>Vahelaed</dt>
            <dd>puit</dd>
            <dt>Välissein</dt>
            <dd>puit</dd>
            <dt>Katusekate</dt>
            <dd>SBS bituumen või Klassik plekk</dd>
            <dt>Välisviimistlus</dt>
            <dd>laudis</dd>
          </dl>

           <a class="button" href="assets/downloads/arhitektuurne.pdf">VAATA ARHITEKTUURSET PROJEKTI</a>
           <br>
           <a class="button" href="assets/downloads/konstruktiivne.pdf">VAATA KONSTRUKTIVSET PROJEKTI (ebatäpne)</a>
           <dl class="dl-horizontal">
            <dt>Terrassid kokku umbes</dt>
            <dd>120 m2</dd>
            <dt>Põrandad TP1 kokku</dt>
            <dd>113.5 m2</dd>
            <dt>Välisseina VS1 kokku</dt>
            <dd>205 m2</dd>
            <dt>Katuslagi VK1 kokku</dt>
            <dd>167,5 m2</dd>
            <dt>Katus soojustuseta</dt>
            <dd>32.1 m2</dd>
            <dt>Kokku katusekate</dt>
            <dd>200 m2</dd>
            <dt>Terrassikatus läbipaistev</dt>
            <dd>48 m2</dd>
            <dt>Katuse nähtav sisekülg</dt>
            <dd>78,6 m2</dd>
          </dl>
        </div>
      </div>

    </div>
  </div>
</div>
