<div class="posting">
<div class="container">
  <div class="row">
    <div class="text-center"> 
      
        <h3>LE REBASEMÄE</h3>
        <span> </span>
        <p>Suvemaja ehitus Varbla vallas.</p>

      </div>  
      <div class="row">
        <div class="col-md-8 text-left">
          <h4>Asendiplaaniline osa <i class="mdi-hardware-keyboard-arrow-up"></i></h4>
          <p class="columned-2">
            Pärnumaal, Varbla vallas, Rannaküla külas, 10 380 m2 Tormitoa kinnistul. Tormitoa elamumaakrunt on piklik, loode-kagu suunaline ja piirneb kagus Tormi maatulundusmaa kinnistuga ning edelas 4 elamumaa kinnistuga. Juurdepääs on olemasoleva pinnastee kaudu. Ehituskrunt on künklik, maapinna absoluutsed kõrgused on vahemikus 2.57 kuni 7.45 m. Krunt on osaliselt kaetud segametsaga, lääne-lõuna küljes samblase männikuga. Suvila rajatakse looduslikule lagendikule. Ehituse alale jäävad üksikud puud ja võsa likvideeritakse, üldiselt säilitatakse looduslik haljastus muutmata kujul. Suvila on paigutatud krundi kaguserva. Lähim naaberhoone asub ligikaudu 115 m kaugusel (Rannakadaka kinnistul). Kinnistu ei jää ranna ehituskeeluvööndisse (mereni on 200 m).
          </p>
          <hr>
          <h4>Ligipääs</h4>
          
          <p class="columned-2">Lähima asfalteeni on 5,5 km kruusateed, viimane 0,5 km on kitsavõitu pinnasetee läbi metsa. Krundile pääsemiseks tuleb läbida Tobiase kinnistu või Hundi kinnistu. Betooniauto pääses läbi, ilmselt on see ka maksimum. 
            <br><br>
            Kommunikatsioonidest on olemas välikäimla (isoleeritud paagiga), elekter 16 A, vesi salvkaevust (ehitatud sügisel 2013, sügavus 4 rõngast)
          </p>
        </div>
        <div class="col-md-4" >
          <img src=" <!-- @path hga_suvila_01.jpg --> " alt="" style="min-width: 500px;">
        </div>
      </div>
      
    </div>
  </div>
</div>