<div class="footer-top">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h4>Rebasemäe</h4>
        <address>Tormitoa <br>
          Rannaküla küla <br>
          Varbla vald <br>
          Pärnumaa <br>
        </address> 
        <span>
          Ehitisregistri kood: 120705604 <br>
          Ehitusluba nr: EL-03-14, välja antud 13.06.2014 <br>
          <a href="https://docs.google.com/spreadsheets/d/1ijcCvPAJYGv33Ou8WzIHGtNB7SgA-Molpik-7jyJPeg/edit#gid=0">Eelarve üldine</a> (privaatne link)
        </span>
      </div>  
      <div class="col-md-3">
        <h4>Kontaktid:</h4>
        <div class="foot">
          <span>Tellija</span>
          <address> 
            Mare Hunt <br>
            tel 5548756<br>
            <a href="mailto: kosmos@neti.ee">kosmos@neti.ee</a></address>
          </div>

          <div class="foot">
            <span>Ehitaja</span>
            <address> 
              Remo Kilp <br>
              tel 56 357680<br>
              teg 56 55606
              <a href="mailto: remo@surfhunt.ee">Kaks Hamstrit OÜ</a></address>
            </div>

          </div>  
          <div class="col-md-3">
            <h4>Projekteerija</h4>
            <div class="foot">
              <span>Arhitektuurne projekt</span>
              <address>Tomomi Hayashi<br>
                tel 56 451207 <br>
                <a href="http://hga.ee/" target="_blank">HG Arhitektuur</a>
              </address> 
            </div>
            <div class="foot">
              <span>Konstruktiivne põhiprojekt</span>
              <address>Mihkel Sagar<br>
                tel 56 902104 <br>
                <a href="http://mainhouse.ee/" target="_blank">MainHouse OÜ</a>
              </address> 
            </div> 
          </div>
          <div class="col-md-3">
            <h4>Tehnilised põhinäitajad</h4>
            <div class="foot">
              <p>
                1. Suvila <br>
                2. Aadress: Pärnumaa, Varbla vald, Rannaküla küla, Tormitoa <br>
                3. Krundi pind: 10 380 m2 <br>
                4. Katastritunnus 86301:004:0352, 
                elamumaa 100% <br>
                5. Hoone omanik: Mare Hunt <br>
                6. Hoone kasusotstarve: 11103 – suvila <br>
                7. Projekteerija: OÜ HG Arhitektuur,
                registri nr EP10483695-0001,
                äriregistri nr 10483695 <br>
                8. Hoone ei ole monteeritav <br>
              </p>
            </div> 
          </div>
        </div>
      </div>
    </div>