<div class="container submenu">
  <nav class="navbar navbar-default" role="navigation" id="submenu">
    <ul class="nav navbar-nav collapse" id="<!-- $current -->">
      <li><a href="index.html/#access" class="scroll">Asukoht</a></li> 
      <li><a href="index.html/#about" class="scroll">Seletus</a></li>
      <li><a href="index.html/#plans" class="scroll">Plaanid</a></li>
      <li><a href="index.html/#inspiration" class="scroll">Allikad</a></li>
      <li><a href="index.html/#contact" class="scroll">Kontakt</a></li>
      <li  class="last"><a href="index.html/#roadmap" class="scroll">Kulg</a></li>
    </ul>
  </nav>
</div>

