<div class="posting" id="basement">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center"> 
        
        <h3>VUNDAMENT JA LIGIPÄÄS</h3>
        <span> </span>
        <p><strong>Teha veel</strong></p>

      </div>  
      <div class="row">
        <div class="col-md-8 text-left">
          <h4>Vundament</h4>
          
          <p class="columned-2">
            Enne karbiga alustamist tuleb puurida tuulutusavad vastavalt: <br>
            "Loomuliku ventilatsiooni kasutamisel peavad tuulutusavad olema maapinnast vähemalt 200 mm kõrgusel. Avade vajalik suurus sõltub ka hoone paiknemisest tuulte suhtes. Tuultele avatud kohtades peab avade ristlõike- pindalaolemavähemalt0,05... 0,1m2 iga 100 m2 põrandapin- na kohta. Tuultele varjatud kohtades on vastavad arvud 0,1...0,2 m2. <br>
            Põhjamaades esinevate normide kohaselt peaks põran- da alla jääma vähemalt 50 cm kõrge vaba ruum, mis on ühtlaselt tuulutatud. Mäenõlvadel asetsevatel hoonetel võib see ruum olla ühest otsast madalam, kuid mitte alla 35 cm. Pinnaseniiskuse tõkestamiseks eraldatakse kõik konstruktsioonielemendid hüdroisolatsiooniga." <br><br>
            <a href="http://www.puuinfo.ee/artiklid/pdf/porandate_soojustamine.pdf" class="button">Allikas: Elar Vilt, "Põrandate soojustamisest"</a>
          </p>
          <hr>
        </div>
        <div class="col-md-4">
          <h4>TODO</h4>
            <ol>
              <!-- @include basement-todo-list -->
            </ol>
           <!-- <a href="assets/downloads/arhitektuurne.pdf">LAE ALLA ARHITEKTUURNE PROJEKT<img src="assets/images/download.png" alt=""/></a> -->
           <br>
           
           
        </div>
      </div>
      
    </div>
  </div>
</div>