<div class="posting" id="basement">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">

        <h3>VUNDAMENT VALMINUD</h3>
        <span> </span>
        <p>Aeg: august - oktoober 2014</p>

      </div>
      <div class="row">
        <div class="col-md-8 text-left">
          <h4>Vundament</h4>

          <p class="columned-2">Vundament on ehitatud 20 cm paksusest FIBO 5 kergplokist, terrass ja külalistemaja 4 rida, põhihoone 6 rida, kelder 11 rida plokke. Vundamendi all on 20 cm betoonist taldmik, selle all 16 fraktsiooniga killustikupadi. Aluspind on läbivalt liiv, umbes 1,2 m sügavusel on õhuke kiht huumust, siis looduslik kruus.

            <br><br>
            Kommunikatsioonidest on olemas välikäimla (isoleeritud paagiga), elekter 16 A, vesi salvkaevust (ehitatud sügisel 2013, sügavus 4 rõngast)
          </p>
          <hr>
          <h4>Kommunikatsioonid</h4>
          <p class="columned-2">1. <strong>Välikäimla</strong> koosneb 1 m3 mahutist
            <br>
            2. <strong>Salvkaev</strong> 1m läbimõõdus 4 rõngast sügav, kaevatud puurmasinaga, autor Amendero OÜ. <br>
            3. <strong>Elekter</strong> - kilp asub maja esiküljest lõunasuunas ca 40m kaugusel metsatukas. Kilbist majani on maa all kollase kõri sees 4-sooneline alumiiniumjuhe. Ehituse ajaks on üles pandud nõuetele vastavuse tõendiga elektriku koostatud ehituskilp. <br>
            Maja ümber on paigaldatud 70cm sügavusele 1m kaugusele vundamendist Cu 16 haljas juhe maanduseks. <br><br>
            <strong>Õueala kommunikatsioonid </strong><br>
            Maja tagant umbes välikäimlani on paigutatud 1 m sügavusele ühisesse kaevisesse horisontaalselt veetoru (PEM 20 mustas kõris) ja jõukaabel NYY-J 5x4 (seda ümbritseb 50/450 painduv kaablikaitsetoru), kaevise kohale on veetud hoiatuslint 30 cm sügavusele. <br>

          </p>
        </div>
        <div class="col-md-4">
          <h4>&nbsp;</h4>
          <dl class="dl-horizontal">
            <dt>Taldmik</dt>
            <dd>Betoon</dd>
            <dt>Vundament</dt>
            <dd>FIBO 5 20, biarmatuur</dd>
            <dt>Keldri niikustõke</dt>
            <dd>Bornit Fugendicht 1</dd>
            <dt>Keldri ja ahjuvundamendi soojustus</dt>
            <dd>Penoplast 100</dd>
            <dt>Krohv</dt>
            <dd>Uninaks Siler must</dd>
            <dt>Müürisegu</dt>
            <dd>Vetonit ja Uninaks</dd>
            <dt>Tuulutusavad</dt>
            <dd>d=125 kate valualumiinium</dd>
          </dl>
           Varsti tulekul: <br><br>
            <a href="#" class="button">VUNDAMENDI TEOSTUSJOONIS<img src="assets/images/download.png" alt=""/></a>
        </div>
      </div>

    </div>
  </div>
</div>
