<div class="footer-top">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="foot">
          <h4>Rebasemäe</h4>
          <address>Tormitoa <br>
            Rannaküla küla <br>
            Varbla vald <br>
            Pärnumaa <br>
          </address> 
        </div>
        <div class="foot">
          <a href="https://docs.google.com/spreadsheets/d/1TbHuLh33uuIE9oGM7hCirAH9f_Osbm8X6Ub9yw97uHc/edit?pli=1#gid=375699780">Eelarve vundament ja teed</a> (privaatne link)
        </div>
      </div>  
      <div class="col-md-3">
        <h4>Kontaktid:</h4>
        <div class="foot">
          <span>Tellija</span>
          <address> 
            Mare Hunt <br>
            tel 5548756<br>
            <a href="mailto: kosmos@neti.ee">kosmos@neti.ee</a></address>
          </div>

          <div class="foot">
            <span>Ehitaja</span>
            <address> 
              Remo Kilp <br>
              tel 56 357680<br>
              teg 56 55606
              <a href="mailto: remo@surfhunt.ee">Kaks Hamstrit OÜ</a></address>
            </div>

          </div>  
          <div class="col-md-3">
            <h4>Tehnika</h4>
            <div class="foot">
              <span>Veneka töödejuht</span>
              <address><span>Esko</span><br>
                tel 55 605455 <br>
              </address> 
            </div>
            <div class="foot">
              <address><span>Aivar Vene</span><br>
                tel 51 29977 <br>
              </address> 
            </div> 
          </div>
          <div class="col-md-3">
            <h4>Keskmised hinnad</h4>
            <div class="foot">
              Betoon m3 120 <br>
              Traktoritund 32 <br>
              Laaduritund 50 <br>
            </div> 
          </div>
        </div>
      </div>
    </div>