<div class="portfilio">
  <div class="posting text-center">
    <h3>KANALISATSIOONI TEOSTUS </h3>
    <span></span>
    <!--           <p>l</p> -->
  </div>
</div>
<div id="placeholder-kanal"></div>
<script type="text/x-handlebars-template" id="kanal-template">

  <div class="port">
    <ul class="links">
      {{#slice images offset="0" limit="12"}}
      <li>
        <div class="view view-fourth">
          <img data-original="assets/images/kanal/{{id}}-small.jpg" class="lazy" alt="{{caption}}" >
          <a href="assets/images/kanal/{{id}}-large.jpg" data-toggle="lightbox" data-gallery class="lazy">
            <div class="mask">
              <div class="border">
                <h2>{{caption}}</h2>
                <span></span>
                <p class="a">{{description}}</p>
              </div>
            </div>
          </a>
        </div>
      </li>
      {{/slice}}
    </ul>
  </div>

</script>

<!-- @include lightbox-component -->
