<div class="posting" id="basement">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center"> 
        
        <h3>ÜMBRUS VALMINUD</h3>
        <span> </span>
        <p>Aeg: august - oktoober 2014</p>

      </div>  
      <div class="row">
        <div class="col-md-8 text-left">
          <h4>Teed</h4>
          
          <p class="columned-2">Läbi metsa lõigatud pinnaseteed sai korrastatud: kännud teealast välja juuritud. Kandvus: väga hea. Peamine ligipääsutee mere poolt üle Hundi ja suvilate maade viib üle liivaluite, seda tegi traktor madalamaks ja täitis ligi koorma jämeda killustikuga pluss loodusliku kruusaga. Roomu oja ületav betoonsild sai Remo poolt laiendatud ja läbis edukalt koormustesti koorma kruusa ja hulga betooniautode näol (Urmo suvila ehitus).   
            <br>
            Lisaligipääs on üle Roomu-Tobiase kinnistu heinamaatee. Seda on samuti kruusaga täidetud, Roomu oja ületav truup on autorite Maidu ja Meelise sõnul suurtest raudkividest täidisega ja pidas betooniautole kenasti vastu. 
          </p>

        </div>
        <div class="col-md-4">
          Varsti tulekul: <br> <br>
          <a href="#" class="button">KOMMUNIKATSIOONIDE TEOSTUSJOONIS<img src="assets/images/download.png" alt=""/></a>
          <br>
          <a href="#" class="button">ÕUEALA PLAAN<img src="assets/images/download.png" alt=""/></a>
        </div>
      </div>
      
    </div>
  </div>
</div>