<div class="posting" id="basement">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">

        <h3>ÜMBRUS VALMINUD</h3>
        <span> </span>
        <p>Aeg: august - oktoober 2014</p>

      </div>
      <div class="row">
        <div class="col-md-8 text-left">
          <h4>Teed</h4>

          <p class="columned-2">Krundile viib pinnasetee läbi metsa. Kandvus väga hea. Peamine ligipääsutee mere poolt üle Hundi ja suvilate maade viib üle liivaluite, seda tegi traktor madalamaks ja täitis ligi koorma jämeda killustikuga pluss loodusliku kruusaga. Roomu oja ületav betoonsild sai Remo poolt laiendatud ja läbis edukalt koormustesti koorma kruusa ja hulga betooniautode näol (Urmo suvila ehitus).
            <br>
            Lisaligipääs on üle Roomu-Tobiase kinnistu heinamaatee. Seda on samuti kruusaga täidetud, Roomu oja ületav truup on autorite Maidu ja Meelise sõnul suurtest raudkividest täidisega ja pidas betooniautole kenasti vastu.
          </p>

        </div>
        <div class="col-md-4">
          <h4>TODO</h4>
          <ol>
            <li>Eemaldada kasepuu juurtelt liigne liiv võra ulatuses et puud säilitada</li>
            <li>Hoovielekter terrassilt kasepuuni (veksellüliti, pistik, parklavalgusti) </li>
          </ol>
        </div>
      </div>

    </div>
  </div>
</div>
